:root {
  --main-border-color: #666;
  --main-background-color-1: rgb(55, 55, 55);
  --main-background-color-2: rgb(97, 97, 97);
}

@font-face {
  font-family: "PressStart2P";
  src: url("../font/PressStart2P-Regular.ttf");
}

@keyframes fullrotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes focuscolor {
  0% {
    border-color: red;
    background-color: red;
  }
  20% {
    border-color: yellow;
    background-color: yellow;
  }
  40% {
    border-color: lime;
    background-color: lime;
  }
  60% {
    border-color: cyan;
    background-color: cyan;
  }
  80% {
    border-color: blue;
    background-color: blue;
  }
  100% {
    border-color: magenta;
    background-color: magenta;
  }
}
.focuscolor {
  filter: brightness(1) !important;
  animation-name: focuscolor;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fancytext {
  0% {
    color: rgb(255, 0, 0);
  }
  20% {
    color: rgb(255, 255, 0);
  }
  40% {
    color: rgb(0, 255, 0);
  }
  60% {
    color: rgb(0, 255, 255);
  }
  80% {
    color: rgb(0, 0, 255);
  }
  100% {
    color: rgb(255, 0, 255);
  }
}
.fancy_text {
  animation-name: fancytext;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fancybackground {
  0% {
    background-color: rgba(53, 53, 53, 0.2);
  }
  20% {
    background-color: rgba(119, 119, 119, 0.2);
  }
  40% {
    background-color: rgba(10, 10, 10, 0.2);
  }
  60% {
    background-color: rgba(139, 139, 139, 0.2);
  }
  80% {
    background-color: rgba(204, 204, 204, 0.2);
  }
  100% {
    background-color: rgba(92, 92, 92, 0.2);
  }
}

@keyframes pulsesize {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.15, 1.15);
  }
}
.pulse {
  animation-name: pulsesize;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

body {
  background-color: #000;
  font-family: "PressStart2P";
  image-rendering: pixelated;
}

canvas {
  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}
.no_display {
  display: none !important;
}

.width_100 {
  width: 100%;
}

.height_100 {
  height: 100%;
}

.center_center {
  justify-content: center;
  align-items: baseline;
  align-content: center;
  text-align: center;
}

.center_space-between {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
}

.center_newtype {
  justify-content: space-between;
  align-items: baseline;
  align-content: space-between;
  text-align: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_square {
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_wrap {
  flex-wrap: wrap;
}

.flex_nowrap {
  flex-wrap: nowrap;
}

.flex_wrap_reverse {
  flex-wrap: wrap-reverse;
}

.menu_container {
  margin: 4vh 0 4vh 0;
}

.main_button {
  color: white;
  margin: 1.5vw auto 0 auto;
  border-color: black;
  border-top: none;
  border-left: none;
  font-size: 4vh;
  font-family: "PressStart2P";
  background: var(--main-background-color-2);
  height: 10vh;
  width: 40vh;
}

.main_button:focus {
  background: rgb(0, 0, 0);
}

.fadein {
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.fadeout {
  animation-name: fade;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-direction: reverse;
}

.row_container {
  width: 100%;
  height: 50vh;
}

.top_element {
  display: fixed;
  top: 0;
  height: 20%;
}

.center_element {
  position: fixed;
  top: 20%;
  height: 50%;
  background: center/100% url("../image/background.png");
  min-width: 60%;
  padding: 0 1%;
  max-width: 70%;
  border: 0.2vh solid var(--main-border-color);
}

.buttom_element {
  position: fixed;
  top: 70%;
  height: 30%;
  width: 100%;
}

.row_stack {
  grid-column: 1;
  grid-row: 1;
}

.row_container .row_image {
  height: 100%;
  border: 0.8vh solid var(--main-border-color);
  box-sizing: border-box;
  background: var(--main-border-color);
}

.map_overlay {
  position: relative;
  top: -56%;
  color: black;
  height: 100%;
  font-size: 74%;
  text-shadow: -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255);
  pointer-events: none;
}

.row_space {
  height: 14vh;
  width: 14vh;
  margin: 0 0.5vw;
  background-color: blue;
}

.option_row {
  width: 100%;
}

.option_container {
  width: 40vw;
  height: 30vh;
  margin-left: 2vw;
}

.option_container .option_container_image {
  filter: brightness(0.7);
  min-width: 8vh;
  min-width: 11vh;
  padding: 1vh;
  margin: 3px;
  background: center/100% url("../image/backgroundalternate.png");
  border: 0.8vh solid var(--main-border-color);
}

.game_highscore {
  color: white;
  text-shadow: -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
  font-size: 3vh;
  text-align: center;
  width: 100%;
}

.game_highscore_title {
  margin: 2vh 6vh 1vh 0;
  padding: 2vh;
}

.extra_top_padding {
  padding-top: 0.5em;
}

.full_background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}

.dim {
  filter: brightness(0.7);
}

.partial_background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
}

.primary_message {
  color: white;
  margin: 0.1em;
}

.font_weight_bold {
  font-weight: 700;
}

.font_size_2em {
  font-size: 2em;
}

.font_size_1_5em {
  font-size: 1.5em;
}

.fancybackground {
  animation-name: fancybackground;
  animation-duration: 24s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.interface_health_element {
  width: 2em;
  margin: 10px 5px 15px 5px;
}

#interfaceHealth1 {
  margin-left: 15px;
}

#gameMenu {
  background-color: rgba(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.6) 100%
  );
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.title {
  height: 90%;
  margin: auto;
}

.player_image {
  height: 80%;
  width: 80%;
  margin: auto;
}

.player_view_container {
  height: 30vh;
  width: 30vh;
  margin: auto 0;
  background: repeat center/100% url("../image/backgroundalternatelarge.png");
  border: 1.5vh solid var(--main-border-color);
}

#gameScore {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  top: 10px;
  right: 15px;
  z-index: 2;
  color: rgb(255, 255, 255);
  text-shadow: -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
}

#gameInterface {
  z-index: 200;
}
